
.nexa-bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 62px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    background: rgba(10, 10, 20, 0.75);
    backdrop-filter: blur(18px);

    border-top: 1px solid rgba(255, 71, 163, 0.25);
    box-shadow: 0 -4px 18px rgba(0, 0, 0, 0.35);

    z-index: 1000;
}

.nexa-item {
    color: #bfbfd8;
    font-size: 0.75rem;
    padding: 6px 12px;
    border-radius: 12px;
    transition: 0.25s ease;
}


.nexa-item.active {
    background: linear-gradient(90deg, #ff47a3, #7b4bff);
    color: white;
    box-shadow: 0 0 12px rgba(123, 75, 255, 0.6);
}
